<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Settings</key>
	<dict>
		<key>ColorSettings</key>
		<dict>
			<key>a</key>
			<array>
				<integer>1</integer>
				<real>0.8</real>
				<real>0.19607843137254902</real>
			</array>
		</dict>
		<key>NumberOfWeeks</key>
		<integer>1</integer>
		<key>SelectedWeek</key>
		<integer>0</integer>
		<key>WeekendDaysAreActive</key>
		<true/>
	</dict>
	<key>TaskCategories</key>
	<array/>
	<key>TaskEvents</key>
	<array/>
	<key>WeekEvents</key>
	<array>
		<dict>
			<key>dayNum</key>
			<integer>0</integer>
			<key>endTime</key>
			<real>60600.0</real>
			<key>info</key>
			<string>Sala: (Por Asignar)</string>
			<key>time</key>
			<real>55800.0</real>
			<key>title</key>
			<string>a</string>
			<key>weekNum</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>dayNum</key>
			<integer>2</integer>
			<key>endTime</key>
			<real>60600.0</real>
			<key>info</key>
			<string>Sala: (Por Asignar)</string>
			<key>time</key>
			<real>55800.0</real>
			<key>title</key>
			<string>a</string>
			<key>weekNum</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
